:root {
  font-size: 62%;
}

* {
  font-family: 'Quantico', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: black;
}

.relogio {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 0.3rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

  scale: 1.4;
}

.relogio div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0.7rem;
  letter-spacing: 0.3rem;
}

.relogio .digitos span {
  font-weight: bolder;
  font-size: 8rem;
}

.tempo {
  font-size: 3rem;
  color: white;
  height: 4rem;
}

.dots {
  letter-spacing: 10rem;
  width: fit-content;
  padding-bottom: 1rem;
}

@media (max-width: 450px) {
  .relogio {
    scale: 0.7;
  }
}
